* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    border: solid 1px;
}

/* palette */
:root {
	--color-primary-dark: #255ee9;
	--color-primary-light: #7289da;
	--color-neutral-darker: #000000;
	--color-neutral-dark: #23272a;
	--color-neutral-light: #f6f6f6;
	--color-neutral-lightest: #ffffff;
}

/* general */
.container {
    max-width: 1200px;
    margin: auto;
}

/* header */
.d-flex-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
}
nav {
    background-color: var(--color-primary-dark);
}

nav ul {
    list-style: none;
}