* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    /* border : solid 1px black; */
}

/* palette */
:root {
	--color-primary-dark: #255ee9;
	--color-primary-light: #7289da;
    --color-secondary-dark: #313338;
	--color-neutral-darker: #000000;
	--color-neutral-dark: #23272a;
	--color-neutral-light: #f6f6f6;
	--color-neutral-lightest: #ffffff;
    --box-shadow-dark: #4b4b4b70;
}

/* general */
.container {
    max-width: 1200px;
    margin: auto;
}



.button-light {
    color: var(--color-neutral-darker);
    background-color: var(--color-neutral-lightest);
}

.button-dark {
    color: var(--color-neutral-lightest);
    background-color: var(--color-neutral-dark);
}

.button-primary-dark {
    color: var(--color-neutral-lightest);
    background-color: var(--color-primary-dark);
}


.button-small {
    padding: 10px 14px;
    border-radius: 100px;
}

.button-large{
    padding: 14px 24px;
    margin: 10px;
    border-radius: 100px;
    font-size: 1.2rem;
}

.fa-download {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: var(--color-neutral-lightest)
}

p {
    font-size: 1.2rem;
    line-height: 2rem;

}

ul {
    list-style: none;
}

.a-hover:hover {
    text-decoration: underline;
}

.button-light:hover {
    color: var(--color-primary-light);
    box-shadow: -2px 5px 15px 2px var(--box-shadow-dark);
}

.button-dark:hover {
    background-color: var(--color-secondary-dark);
    box-shadow: -2px 5px 15px 2px var(--box-shadow-dark);
}

.button-primary-dark:hover {
    background-color: var(--color-primary-light);
    box-shadow: -2px 5px 15px 2px var(--box-shadow-dark);
}

/* header */
header {
    color: var(--color-neutral-lightest);
}
/* nav */
.d-flex-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: var(--color-primary-dark);
    padding: 20px 0;
}

nav li>a {
    padding: 5px;
    margin: 0 15px;
}

/* hero section */
.d-flex-hero {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    max-width: 810px;
}

#hero-img {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}

h1 {
    font-size: 3rem;
    padding: 30px;
}

.hero-section p {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

/* main */

/* .wave {
    color: var(--color-neutral-dark);
    display: block;
}
.wave.wave-bottom {
    transform:scaley(-1);
} */

main>.white-background{
    background-color: var(--color-neutral-lightest);
    padding: 100px 0;
}

main>.gray-background{
    background-color: var(--color-neutral-light);
    padding: 100px 0;
}

.img-full-width {
    width: 100%;
}

.d-flex-main {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: start;
}

.image-flex-section {
    width: 60%;
}

.row-reverse {
    flex-direction: row-reverse;
}

.article-flex-section {
    width: 40%;
    padding: 30px;
}

h2 {
    font-size: 3rem;
    padding-bottom: 30px;
}

main>div:last-child {
    text-align: center;
}

.description-container {
    max-width: 1000px;
    margin: auto;
}

main h4 {
    font-size: 1.6rem;
    padding: 30px 0 50px;
}

.starred h4 {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: top center;
}

/* footer */

footer {
    background-color: var(--color-neutral-dark);
    padding: 70px 0;
}

.info-box-container {
    width: 20%;
}

.link-container {
    width: 75%;
}

.d-flex-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select-language {
    display: flex;
}

.select-language img {
    height: 15px;
    margin: 15px 0;
}


footer h4 {
    font-size: 1.8rem;
    color: var(--color-primary-light);
}

select {
    border: none;
    color: var(--color-neutral-lightest);
    background-color: var(--color-neutral-dark);
}

.social-icons i {
    color: var(--color-neutral-lightest);
    margin-right: 15px;
}


.d-flex-footer-link {
    display: flex;
    justify-content: space-between;
}

footer ul>span {
    color: var(--color-primary-light);
    font-weight: bold;
}

footer li {
    margin-top: 15px;
}

aside {
    border-top: solid 2px var(--color-primary-light);
    margin-top: 50px;
    padding-top: 20px;
}