* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    border: solid 1px;
}

/* palette */
:root {
	--color-primary-dark: #255ee9;
	--color-primary-light: #7289da;
	--color-neutral-darker: #000000;
	--color-neutral-dark: #23272a;
	--color-neutral-light: #f6f6f6;
	--color-neutral-lightest: #ffffff;
}

/* general */
.container {
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}

/* header */
header {
    
}
/* nav */
.d-flex-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
nav {
    background-color: var(--color-primary-dark);
}

nav ul {
    list-style: none;
}

/* hero section */
.d-flex-hero {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-item: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

#hero-img {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}